#contact,
nav,
.nav {
  background-color: #a5a58d;
}

a {
  color: #ffe8d6;
}
body {
  background-color: #cb997e;
  color: #6b705c;
}
.the-body {
  background-color: #cb997e;
  color: #6b705c;
}
.card {
  background-color: #ffe8d6;
}
#contact-brian {
  text-decoration: none;
  margin-left: auto;
}

#brian-shor-nav {
  margin-right: auto;
}
.jumbotron {
  padding: 0px !important;
}
